@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Geist+Mono:wght@100..900&display=swap');
@import "tailwindcss";

:root {
  --svg-gray: #e6e6e6;
  --svg-dark-purple: #3f3d56;
  --svg-white: #f2f2f2;
  --svg-skin: #ffb8b8;
  --svg-deep-purple: #2f2e41;
  --svg-black: #000000;

  --muted: oklch(0.940 0.003 286.350);
  --popover: oklch(1.000 0.000 0.000);
  --popover-foreground: oklch(0.200 0.004 286.099);
  --sidebar: oklch(0.985 0.002 286.350);
  --radius: 0.25rem;
  --border: oklch(0.850 0.004 286.099);
  --spacing: 0.25rem;
}

@theme {
  --font-sans: "Geist", "Geist Fallback", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "Geist Mono", "Geist Mono Fallback", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  --color-background: lab(100% 0 0);
  --color-foreground: lab(2.75381% 0 0);

  --color-card: lab(100% 0 0);
  --color-card-foreground: lab(2.75381% 0 0);

  --color-popover: lab(100% 0 0);
  --color-popover-foreground: lab(2.75381% 0 0);

  --color-primary: lab(7.78201% -.0000149012 0);
  --color-primary-foreground: lab(98.26% 0 0);

  --color-secondary: lab(96.52% -.0000298023 .0000119209);
  --color-secondary-foreground: lab(7.78201% -.0000149012 0);

  --color-muted: lab(96.52% -.0000298023 .0000119209);
  --color-muted-foreground: lab(48.496% 0 0);

  --color-accent: lab(96.52% -.0000298023 .0000119209);
  --color-accent-foreground: lab(7.78201% -.0000149012 0);

  --color-destructive: lab(48.4493% 77.4328 61.5452);
  --color-destructive-foreground: lab(98.26% 0 0);

  --color-border: lab(90.952% 0 -.0000119209);
  --color-input: lab(90.952% 0 -.0000119209);
  --color-ring: lab(66.128% -.0000298023 .0000119209);

  --radius-4xl: 2rem;
}

@layer base {
  * {
    @apply text-xs sm:text-base;
    font-family: var(--font-sans);
  }

  body {
    @apply text-muted-foreground text-sm leading-relaxed;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold tracking-tight text-primary;
  }
}

@layer components {

  .input,
  .btn-primary,
  .btn-secondary,
  .btn-icon,
  a {
    @apply outline-none focus-visible:border-ring focus-visible:ring-3 focus-visible:ring-ring/30 disabled:pointer-events-none disabled:opacity-50 transition-all
  }

  a {
    @apply rounded-md
  }

  .input,
  .btn-primary,
  .btn-secondary,
  .btn-icon {
    @apply rounded-3xl
  }

  .input,
  .btn-primary,
  .btn-secondary {
    @apply border-transparent
  }

  .btn-primary,
  .btn-secondary,
  .btn-icon {
    @apply flex items-center justify-center border text-sm font-medium select-none active:not-aria-[haspopup]:translate-y-px aria-invalid:border-destructive aria-invalid:ring-3 aria-invalid:ring-destructive/20 [&_svg]:pointer-events-none [&_svg:not([class*='size-'])]:size-4;
  }

  .btn-primary,
  .btn-secondary {
    @apply gap-1.5 has-data-[icon=inline-end]:pr-2.5 has-data-[icon=inline-start]:pl-2.5 h-8 px-2.5 sm:h-11 sm:px-4;
  }

  .btn-primary {
    @apply bg-primary text-primary-foreground hover:bg-primary/80;
  }

  .btn-secondary {
    @apply bg-secondary text-secondary-foreground hover:bg-secondary/80 aria-expanded:bg-secondary aria-expanded:text-secondary-foreground;
  }

  .btn-icon {
    @apply border-border bg-background hover:bg-muted hover:text-foreground aria-expanded:bg-muted aria-expanded:text-foreground size-8 rounded-full;
  }

  .input {
    @apply h-9 w-full min-w-0 bg-input/50 px-3 py-1 text-base file:inline-flex file:h-7 file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground disabled:cursor-not-allowed md:text-sm;
  }

  .heading {
    @apply text-xl font-semibold tracking-tight text-primary;
  }

  .card {
    @apply rounded-2xl border border-border/80 bg-secondary/55;
  }

  .card-content {
    @apply flex h-full flex-col gap-3 px-5 py-5 sm:px-6 sm:py-6;
  }

  .text-label {
    @apply font-semibold text-foreground;
  }

  .text-description {
    @apply text-xs text-muted-foreground;
  }

  .text-body {
    @apply text-foreground/90;
  }



  /* Table component */
  .table-wrapper {
    position: relative;
    width: 100%;
    overflow: auto;
  }

  .table {
    width: 100%;
    caption-side: bottom;
    border-collapse: collapse;
    font-size: 0.875rem;
  }

  .table-th {
    height: 2.5rem;
    padding: 0 calc(var(--spacing) * 4);
    text-align: left;
    vertical-align: middle;
    font-weight: 500;
    white-space: nowrap;


    &[align=right] {
      text-align: right;
    }

    &[align=center] {
      text-align: center;
    }
  }

  .table-tbody tr {
    @apply cursor-pointer border-b border-border;

    &:last-child {
      @apply border-b-0
    }
  }

  .table-td {
    @apply whitespace-nowrap p-2 align-middle;
  }

  .table-thead {
    @apply bg-muted/30 border-b border-border;
  }

  .table button:focus-visible {
    @apply opacity-100!
  }

  .table .badge {
    @apply inline-flex items-center rounded-full bg-emerald-100/25! px-2.5 py-0.5 text-xs font-medium text-emerald-700 ring-1 ring-inset ring-emerald-600/10
  }

  .table .sub-text {
    @apply text-xs uppercase tracking-wider
  }

  .table .c-logo {
    @apply flex size-9 items-center justify-center rounded-xl bg-primary/5 text-primary font-bold border border-primary/10
  }

  .table .link-icon {
    @apply size-3 opacity-0 -translate-x-1 transition-all [&_svg]:size-full
  }

  .table .actions-btn {
    @apply ml-auto! opacity-0 transition-opacity;
  }

}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}